services:
  postgres:
    image: postgres:18
    container_name: login_example_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-login_example_development}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data: